<style>      * {
  margin: 0;
  padding: 0;
}
#map {
  width: 100vw;
  height: 100vh;
}
#add-route {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 12px;
  z-index: 99;
}
#remove-route {
  position: absolute;
  top: 70px;
  right: 20px;
  padding: 12px;
  z-index: 99;
}